<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form>
        <ion-row>
          <ion-col>
            <app-avatar></app-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input label="Name" type="text"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input label="LastName" type="text"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input label="Email" type="email"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input label="Password" type="number"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-button value="Register">Register</app-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
