ion-content {
  --background: #fdbb30; /* Fondo naranja brillante */
}

ion-card {
  --ion-card-background-color: #fff;
  --ion-text-color: #000; /* Texto negro en las tarjetas */
  border: 3px solid #f08c00; /* Borde naranja oscuro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra oscura */
}

ion-card-title {
  color: #ff4b00; /* Naranja intenso */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

ion-card-content {
  color: #4c4c4c; /* Gris oscuro */
}

ion-item {
  --background: hsl(240, 100%, 65%); /* Azul Saiyan */
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

ion-input {
  --placeholder-color: #fff;
  --color: #fff;
}

ion-button {
  --background: #ff4b00; /* Naranja brillante */
  --color: white;
  --border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Sombra intensa */
}

ion-button:focus, ion-button:hover {
  --background: #d73b00; /* Naranja más oscuro al pasar el ratón */
}

ion-list {
  margin: 20px;
}

/* Cambiar el color del texto de las tareas a blanco */
.task-item ion-label h2,
.task-item ion-label p {
  color: white; /* Color blanco para la lista de tareas */
}
