ion-content {
  --background: url('https://i.pinimg.com/originals/e9/cd/53/e9cd5321ce5805f9d3ed04e53555cf94.jpg') no-repeat center center / cover;
}


ion-card {
  --ion-card-background-color: #fff;
  --ion-text-color: #000; 
  border: 3px solid #f08c00; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

ion-card-title {
  color: #ff4b00; 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

ion-card-content {
  color: #4c4c4c; 
}

ion-item {
  --background: #4b4cff; 
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

ion-input {
  --placeholder-color: #fff;
  --color: #fff;
}

ion-button {
  --background: #ff4b00; 
  --color: white;
  --border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
}

ion-button:focus, ion-button:hover {
  --background: #d73b00; 
}

ion-list {
  margin: 20px;
}

.task-item ion-label h2,
.task-item ion-label p {
  color: white; 
}
